<footer id="footer" class="footer">
    <div class="footer-container">
        <div class="footer-col">
            <div class="tentang">
                <h3>Pasar Sinpasa</h3>
                <p>
                    Pasar Modern Sinpasa Summarecon Bandung hadir untuk melayani kebutuhan
                    dari warga, penghuni dan pengunjung Summarecon Bandung.
                </p>
                <p>+62 895-1230-0903</p>
                <p>sinpasasummareconbdg@gmail.com</p>
            </div>
            
            <div class="menu">
                <div class="info">
                    <h4>Informasi</h4>
                    <a href="snk.html" class="menu">Syarat & Ketentuan</a>
                    <a href="privasi.html" class="menu">Kebijakan Privasi</a>
                </div>
            </div>
            
            <div class="info">
                <h4>Ikuti Kami</h4>
                <div class="social">
                    <span>
                        <a href="https://www.instagram.com/pasarsinpasabandung/" target="_blank">
                            <img src="../../img/instagram.svg" alt="instagram-sinpasa">
                        </a>                       
                    </span>
                    <span>
                        <a href="https://www.tiktok.com/@pasarsinpasabandung" target="_blank">
                            <img src="../../img/tiktok.svg" alt="tiktok-sinpasa">
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        © 2024 Pasar Sinpasa Summarecon Bandung. All rights reserved.
    </div>
</footer>