<header class="navbar">
    <div class="container">
        <div class="logo">
            <span class="logo-small">
                <img src="../../img/LOGO_PASAR.svg">
            </span>
        </div>

        <nav class="menu">
            <a href="index.html" data-section="beranda">BERANDA</a>
            <a href="katalog.html" data-section="kategori">Katalog</a>
            <a href="#fasilitas" data-section="fasilitas">Fasilitas</a>
            <a href="denah.html" data-section="denah">Denah</a>
            <a href="#testimoni" data-section="testimoni">Testimoni</a>
            <a href="#footer" data-section="footer">TENTANG KAMI</a>
        </nav>

        <div class="nav-icon">
            <div class="nav-search">
                <input type="text" id="navSearchInput" placeholder="Cari kategori atau toko..." />
                <button id="searchToggle">
                    <div class="icons">
                        <img src="../../img/search.svg">
                    </div>
                </button>
            </div>
            
            <div class="icons">
                <svg class="hamburger" viewBox='0 0 10 8' width='24' >
                    <path 
                        d='M1 1h8M1 4h 8M1 7h8' 
                        stroke='#000' 
                        stroke-width='1.5' 
                        stroke-linecap='round'/>
                </svg>
            </div>
        </div>
    </div>
</header>